html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
  text-align: center;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: #536683;
}

h1 {
  color: #f1f1f1;
  font-size: 80px;
  font-style: italic;
  font-weight: 300;
}

h2 {
  color: #536683;
}

h3 {
  font-size: 20px;
  color: #536683;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

hr {
  width: 10%;
  border: solid #939596 2px;
  border-bottom: none;
  margin: 2rem auto 2rem auto;
}

div.section-title {
  font-size: 20px;
  padding: 0 0 20px 0;
}
.skills,
.portfolio,
.contact {
  padding: 20px 0 40px 0;
  align-items: center;
}
