.headerSection {
  padding: 200px 0 250px 0;
  text-align: center;
  background-image: url("../public/images/tech-backgroundfull.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .headerContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 720px;
    margin: auto;

    .headerTitle {
    }

    .jobTitle {
      color: #e7e7e7;
    }

    .projectsBtn {
      background: whitesmoke;
      background-color: #fff;
      width: fit-content;
      box-shadow: none;
      border-radius: 20px;
      display: inline-block;
      cursor: pointer;
      color: darkslategrey;
      font-family: "Roboto Mono", sans-serif;
      font-size: 20px;
      padding: 10px 25px;
      margin: auto;
      text-decoration: none;
      transition: all 500ms;

      &:hover {
        box-shadow: 0px 0px 8px 4px white;
        color: #2294c1;
      }
    }
  }
}
