.container {
  max-width: calc(1024px + 3rem);
  padding: 1rem;
  margin: auto;
  .projectListContainer {
    margin: 0 auto;

    .projectList {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      max-width: 100%;
      width: 100%;
      padding: 2rem 0 2rem 0;
      margin: auto;
      gap: 1rem;
    }

    @media screen and (min-width: 480px) {
      .projectList {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}
