.projectCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 10px;
  gap: 1.5rem;
  box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 20%);

  .imageContainer {
    position: relative;
    height: 9rem;

    .projectImg {
    }
  }

  .cardText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0 1.5rem 1.5rem;

    .cardTitle {
    }
  }
}
.buttons {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto auto 0;
  padding: 0 0 1.5rem;
  gap: 1rem;

  .buttonPrimary {
    cursor: pointer;
    background-color: darkslategrey;
    color: white;
    border-radius: 0.75rem;
    padding: 0.5rem 0.75rem;
    transition: all 0.2s linear;

    &:hover {
      box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 20%);
      background-color: lightcyan;
      color: darkslategrey;
    }
  }

  @media screen and (min-width: 480px) {
    flex-direction: row;
  }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
  .projectCard {
    max-width: calc((100% - 1.5rem) / 2);
  }
}

@media screen and (min-width: 720px) {
  .projectCard {
    max-width: calc((100% - 3rem) / 3);
  }
}
