.projectList {
  display: flex;
  max-width: 650px;
  flex-direction: column;
  padding: 2rem 0 2rem 0;
  margin: auto;
  justify-content: center;

  @media screen and (min-width: 720px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
