.skillListContainer {
  display: flex;
  max-width: 720px;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .skillList {
    display: flex;
    padding: 5rem 0 2rem 0;
  }
}

@media (max-width: 720px) {
  .skillList {
    width: 100%;
    flex-direction: column;
  }
}
